@import "react-alice-carousel/lib/alice-carousel.css";

.newCollections {
  
}

.newCollectionsTitle {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.strip {
  border: 1px solid #EDBF52;
  height: 3rem;
  margin-right: 2%;
}

.newCollectionsTitle > p {
  margin: 0;
}