.newCollections {
  margin: 15% 5%;
}

.newCollectionsTitle {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.strip {
  border: 1px solid #EDBF52;
  height: 4rem;
  margin-right: 3%;
}

.newCollectionsTitle > p {
  margin: 0;
}