.footer {
  display: flex;
  padding: 0 5%;
  border-top: 5px solid #EDBF52;
}

.footer>p {
  display: flex;
  align-items: center;
}

.footerLogo {
  width: 35%;
}

.footerLogo > img {
  width: 80%;
}

.footerCompany {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerSupport {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerIcon {
  color: #EDBF52;
  margin-right: 10px;
  font-size: 1.5rem;
}