.testimonials {
  height: 70vh;
  background-color: #FDF9EE;
  padding: 5%;
}

.testimonialsTitle {
  flex: 1;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.strip {
  border: 1px solid #EDBF52;
  height: 4rem;
  margin-right: 3%;
}

.testimonialsContent {
  display: flex;
  justify-content: space-between;
}

.testimonial {
  width: 32%;
  height: 50vh;
  background-color: #FFFFFF;
  border-radius: 5%;
  box-sizing: border-box;
  padding: 3%;
}

.testimonialIcon {
  height: 35%;
  font-size: 3rem;
  color: #EDBF52;
}

.testimonialText {
  height: 55%;
}

.testimonialName {
  height: 10%;
  font-weight: bold;
}