@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* .App {
  text-align: center;
} */
